
		<div class="container">
			<div class="top-pic-body">
				<div class="top-pic animated flipInY"><a href="#">
					<%=image_tag 'leo.jpg'%>
				</a></div>
				<div class="social-icon social-icon3 animated flipInY tada"><a href="#">
					<%=image_tag 'facebook.png' %>
				</a></div>
				<div class="social-icon social-icon4 animated flipInY tada"><a href="#">
					<%=image_tag "gplus_variation2.png" %>
				</a></div>
				<div class="social-icon social-icon5 animated flipInY tada"><a href="#">
					<%=image_tag 'linkedin.png'%>
				</a></div>
				<div class="social-icon social-icon6 animated flipInY tada"><a href="#">
					<%=image_tag "pinterest.png" %>
				</a></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
			<div class="title-name">LEO ROYZENGURT</div>
			<div class="title-description">Web Developer</div>
	
